<div id="<%= dom_id ad %>">
  <p>
    <strong>Title:</strong>
    <%= ad.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= ad.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ad.status %>
  </p>

</div>
